{% extends 'foodapp/base.html' %}

{% block sidebar %}
<!-- <li><a href="{ % url 'url_month_orders' month=last_month year=year % }">Last Month's Totals</a></li>  -->
{% if rice_is_on %}
<li><input type="button" value="Stop Rice" id="riceButton" onclick="window.location='{% url 'url_rice_off' %}'"></input></li>
<img id="riceCooker" src="../static/img/ricecooker.png" alt="Rice Cooker" style="display:block" height=200px width=200px />
{% else %}
<li><input type="button" value="Start Rice" id="riceButton" onclick="window.location='{% url 'url_rice_on' %}'"></input></li>
{% endif %}
{% endblock sidebar %}

{% block content %}
<h1>Place your order.</h1>
{% if error %}
<h3 class="errorlist">{{ error }}</h3>
{% endif %}
<form id="order_form" method="post" target="">
    {% csrf_token %}
    {% if form.errors %}
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li class="errorlist">{{ field.label }}: {{ field.errors|first }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    
    {% for field in form %}
    <label for="id_{{ field.name }}">{{ field.label }}</label>
    {{ field }}
    {% endfor %}
    {% if rice_is_on %}
        <h3>Rice is Cooking!</h3>
    {% else %}
        <input type="submit" value="Place Order" />
    {% endif %}
</form>
{% endblock content %}
