{% extends 'foodapp/base.html' %}
{% block content %}

<style>
.gold {
    color: #f4c542;
}
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Rookie: Employed after {{ rookie_start }}</h3>
                </div>
                <div class="panel-body text-center">
                    <h4>MVP: <i class="glyphicon glyphicon-star gold gold"></i> {{ rookie_mvp }} <i class="glyphicon glyphicon-star gold gold"></i></h4>
                </div>

                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <td>Rank</td>
                            <td>Username</td>
                            <td># Burritos</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rank, user, count in rookie_dict %}
                        <tr {% if current_user == user %}style="border: 2px solid #747474;"{% endif %}>
                            <td>{{ rank }}</td>
                            <td>{{ user }}</td>
                            <td>{{ count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Last Month: {{ last_month_month }}</h3>
                </div>
                <div class="panel-body text-center">
                    <h4>MVP: <i class="glyphicon glyphicon-star gold"></i> {{ month_mvp }} <i class="glyphicon glyphicon-star gold"></i></h4>
                </div>

                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <td>Rank</td>
                            <td>Username</td>
                            <td># Burritos</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rank, user, count in month_dict %}
                        <tr {% if current_user == user %}style="border: 2px solid #747474;"{% endif %}>
                            <td>{{ rank }}</td>
                            <td>{{ user }}</td>
                            <td>{{ count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Last Year: {{ last_year }}</h3>
                </div>
                <div class="panel-body text-center">
                    <h4>MVP: <i class="glyphicon glyphicon-star gold"></i> {{ year_mvp }} <i class="glyphicon glyphicon-star gold"></i></h4>
                </div>

                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <td>Rank</td>
                            <td>Username</td>
                            <td># Burritos</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rank, user, count in year_dict %}
                        <tr {% if current_user == user %}style="border: 2px solid #747474;"{% endif %}>
                            <td>{{ rank }}</td>
                            <td>{{ user }}</td>
                            <td>{{ count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Lifetime</h3>
                </div>
                <div class="panel-body text-center">
                    <h4>MVP: <i class="glyphicon glyphicon-star gold"></i> {{ alltime_mvp }} <i class="glyphicon glyphicon-star gold"></i></h4>
                </div>

                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <td>Rank</td>
                            <td>Username</td>
                            <td># Burritos</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rank, user, count in alltime_dict %}
                        <tr {% if current_user == user %}style="border: 2px solid #747474;"{% endif %}>
                            <td>{{ rank }}</td>
                            <td>{{ user }}</td>
                            <td>{{ count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">This Month: {{ current_month_month }}</h3>
                </div>
                <div class="panel-body text-center">
                    <h4>MVP: <i class="glyphicon glyphicon-star gold"></i> {{ current_mvp }} <i class="glyphicon glyphicon-star gold"></i></h4>
                </div>

                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <td>Rank</td>
                            <td>Username</td>
                            <td># Burritos</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rank, user, count in current_dict %}
                        <tr {% if current_user == user %}style="border: 2px solid #747474;"{% endif %}>
                            <td>{{ rank }}</td>
                            <td>{{ user }}</td>
                            <td>{{ count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">This Year: {{ this_year }}</h3>
                </div>
                <div class="panel-body text-center">
                    <h4>MVP: <i class="glyphicon glyphicon-star gold"></i> {{ this_year_mvp }} <i class="glyphicon glyphicon-star gold"></i></h4>
                </div>

                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <td>Rank</td>
                            <td>Username</td>
                            <td># Burritos</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rank, user, count in this_year_dict %}
                        <tr {% if current_user == user %}style="border: 2px solid #747474;"{% endif %}>
                            <td>{{ rank }}</td>
                            <td>{{ user }}</td>
                            <td>{{ count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
