# User files
.DS_Store
*.swp

# Application
.vagrant/
bundles/
*.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# IPython Notebook
.ipynb_checkpoints

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
.venv/
.env/
venv/
env/
