.DS_Store
*.pyc
*.db
*.swp
runserver
runtests
django-admin
local_settings.py
secrets.py
*.sqlite3
.apps/
.env/
.vagrant/

foodapp
worklog
accounting

project/settings.py

deploy/project_backup/
deploy/commit_and_push.sh

lab-prod_data.bu
