.DS_Store
*.pyc
*.db
*.swp
runserver
runtests
django-admin
local_settings.py
secrets.py
*.sqlite3

.env/
.vagrant/

foodapp
worklog

project/settings.py

deploy/project_backup/
deploy/commit_and_push.sh

lab-prod_data.bu
