django>=1.10,<1.11
django-fsm
django-registration
djangorestframework<3.7
djangorestframework-filters<1
django-admin-rangefilter
github3.py>=1.0a
celery[redis]
gunicorn
psycopg2
stripe
raven
pytz
git+git://github.com/ITNG/ng-utils.git#93d6787ecfb3aa76cd522d995aca7970ffcad076
