.autoscaling-test {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}

.fa.dirty {
    color: #ccaa44;
    line-height: 1.42857143;
}

.balance-input {
    border-bottom: thin solid #AAA;
}

.balance-input .fa-usd {
    font-size: 12px;

    /* adjust position for small font size */
    position: relative;
    top: -1px;
}

.balance-input input {
    border: 0;
    padding: 2px 4px;
    background-color: transparent;
    line-height: normal;
}


/* default for no-js */
input[is="balance-input"] {
    width: 60px;
}
