
{% extends "base.html" %}

{% block title %}Food App{% endblock %}

{% load staticfiles %}

{% block nav-links %}
<ul class="nav navbar-nav">
    <li><a href="{% url 'foodapp:home' %}">Place Order <i class="fa fa-cutlery"></i></a></li>
    <li><a href="{% url 'foodapp:user_orders' username=user %}">My Order History <i class="fa fa-book"></i></a></li>
    <li><a href="{% url 'foodapp:leaderboard' %}">Leaderboards <i class="glyphicon glyphicon-star-empty"></i></a></li>
    <li><a class="dropdown-toggle" type="button"href="#billing" data-toggle="dropdown">Billing <i class="fa fa-credit-card"></i> <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'foodapp:stripe_card_list' %}">View Cards</a></li>
            <li><a href="{% url 'foodapp:stripe_invoice_list' %}">View Invoices</a></li>
            <li><a href="{% url 'foodapp:stripe_invoice_create' %}">Pay Up</a></li>
        </ul>
    </li>
</ul>
{% endblock %}
