
{% extends "base.html" %}

{% block title %}Food App{% endblock %}

{% load staticfiles %}

{% block nav-links %}
<ul class="nav navbar-nav">
    <li><a href="{% url 'foodapp:home' %}">Place Order <i class="fa fa-cutlery"></i></a></li>
    <li><a href="{% url 'foodapp:user_orders' username=user %}">My Order History <i class="fa fa-book"></i></a></li>
    <li><a href="{% url 'foodapp:last_month_view' %}">Last Month's Orders <i class="fa fa-calendar"></i></a></li>
    <li><a href="{% url 'foodapp:leaderboard' %}">Leaderboards <i class="glyphicon glyphicon-star-empty"></i></a></li>
</ul>
{% endblock %}
