{% extends 'foodapp/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-default" style="margin-top:35px;">
    <div class="panel-heading">
        {% if title %}
        <h3 class="panel-title">{{ title }}</h3>
        {% else %}
        <h3 class="panel-title">{{ user }}'s Stripe Card ID's</h3>
        {% endif %}
    </div>

    {% if cards %}
    <table class="table table-striped">
        <tbody>
            {% for id, last4 in cards %}
            <tr>
                <td style="font-size: 1.5em;">
                {{ last4 }}
             <form method="POST" action={% url 'foodapp:stripe_card_delete' id %} id="delete-form" style="margin-top: -30px;">
            	    {% csrf_token %}
		    	    <button class="btn btn-danger" style="float: right; margin-left: 5px;">
                		<i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
                	</button>   	
                </form>
                <form method="POST" action={% url 'foodapp:stripe_card_update' %} id="delete-form" style="margin-top: -30px;">
            	{% csrf_token %}
                <button class="btn btn-primary" style="float: right;">
                    Update Card
                </button>           
                </form>
                </td> 
            </tr>
            {% endfor %}
        </tbody>

        {% if error %}
        <h4 class="errorlist">{{ error }}</h4>
        {% endif %}

    </table>
    {% else %}
    <div class="panel-body">
        <h4>No stripe cards associated with this account. Add one!</h4>
    </div>
    {% endif %}
</div>

{% endblock content %}
