{% extends 'foodapp/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-default" style="margin-top:35px;">
    <div class="panel-heading">
        {% if title %}
        <h3 class="panel-title">{{ title }}</h3>
        {% else %}
        <h3 class="panel-title">{{user }}'s Stripe Card ID's</h3>
        {% endif %}
    </div>

    {% for card in cards %}
    <table class="table table-striped">
        <tbody>
            <tr>
            	<form method="POST" action={% url 'foodapp:stripe_delete' %} id="delete-form">
            	{% csrf_token %}
                <td style="font-size: 1.5em;">
                	{{ card.customer_id }}
                	<button class="btn btn-danger" style="float: right;">
                		<i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
                	</button>
                </td>
                </form>
            </tr>
        </tbody>

        {% if error %}
        <h4 class="errorlist">{{ error }}</h4>
        {% endif %}

    </table>
    {% empty %}
    <div class="panel-body">
        <h4>No stripe cards associated with this account. Add one!</h4>
    </div>
    {% endfor %}
</div>

{% endblock content %}
