{% extends 'foodapp/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if rice_is_on %}
                <h3 class="panel-title">RICE ON</h3>
                {% else %}
                <h3 class="panel-title">RICE OFF</h3>
                {% endif %}
            </div>
            <div class="panel-body text-center">
                <form id="rice_form" method="post">
                {% csrf_token %}
                {% if rice_is_on %}
                    <button class="btn btn-danger" type="submit" value="Stop Rice" name="riceOff" id="riceButton">Stop Rice</button>
                    <img class='img-rounded' src="/static/img/ricecooker.png" style="max-width: 100px;">
                {% else %}
                    <button class="btn btn-primary" type="submit" value="Start Rice" name="riceOn" id="riceButton">Start Rice</button>
                    <img class='img-rounded' src="/static/img/ricecooker_off.png" style="max-width: 100px;">
                {% endif %}
            </form>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="row">
            <div class="panel {% if rice_is_on %}panel-danger{% else %}panel-primary{% endif %}">
                <div class="panel-heading">
                    {% if rice_is_on %}
                    <h3 class="panel-title">You can't place your order right now!</h3>
                    {% else %}
                    <h3 class="panel-title">Place your Order</h3>
                    {% endif %}
                </div>
                <div class="panel-body">
                    {% if not customer_exists %}
                        <a href={% url 'foodapp:stripe_card_create' %} >
                            <button class="btn btn-primary">Create Stripe Customer</button>
                        </a>
                    {% else %}
                        <form class="form" id="order_form" method="post" target="">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if not field.is_hidden %}
                            <label for="id_{{ field.name }}">{{ field.label }}</label>
                            {% endif %}
                            {{ field }}
                        {% endfor %}
                        {% if form.errors %}
                            <ul>
                            {% for field in form %} {% if field.errors %}
                                <li class="errorlist">{{ field.label }}: {{ field.errors|first }}</li>
                            {% endif %} {% endfor %}
                            </ul>
                        {% else %}
                            <br><br>
                        {% endif %}
                        {% if rice_is_on %}
                            <h4>Rice is Cooking!</h4>
                        {% else %}
                            <button class="btn btn-primary" type="submit" value="Place Order">Place Order</button>
                        {% endif %}
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Today's Orders:</h3>
                </div>
                <div class="panel-body">
                    {% if rice_quantity %}
                    <h3>{{ rice_quantity }} cups of rice needed today</h3>
                    {% endif %}

                    {% if not orders %}
                    <h3>No orders today :(</h3>
                    {% endif %}
                </div>
                {% if orders %}
                <table class="table table-striped">
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.quantity}} {{ order.item.name }}{% if order.quantity > 1 %}s{% endif %} on {{ order.date }} by {{ order.user }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock content %}
