{% extends 'foodapp/base.html' %} {% block content %}
<!-- <li><a href="{ % url 'url_month_orders' month=last_month year=year % }">Last Month's Totals</a></li>  -->
<div class="col-md-2" style="margin-top:35px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            {% if rice_is_on %}
            <h3 class="panel-title">RICE ON</h3>
            {% else %}
            <h3 class="panel-title">RICE OFF</h3>
            {% endif %}
        </div>
        <div class="panel-body">
            <form class="form" id="rice_form" method="post" target="">
            {% csrf_token %}
            {% if rice_is_on %}
                <button class="btn btn-danger" type="submit" value="Stop Rice" name="riceButton" id="riceButton">Stop Rice</button>
                <img class='img-rounded' src="/static/img/ricecooker.png" style="max-width: 100px;">
            {% else %}
                <button class="btn btn-primary" type="submit" value="Start Rice" name="riceButton" id="riceButton">Start Rice</button>
            {% endif %}
            </form>
        </div>

    </div>

</div>

<div class="col-md-10" style="margin-top:35px;">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Place your Order</h3>
        </div>
        <div class="panel-body">
            {% if error %}
            <h3 class="errorlist">{{ error }}</h3>
            {% endif %}
            <form class="form" id="order_form" method="post" target="">
                {% csrf_token %} {% if form.errors %}
                <ul>
                    {% for field in form %} {% if field.errors %}
                    <li class="errorlist">{{ field.label }}: {{ field.errors|first }}</li>
                    {% endif %} {% endfor %}
                </ul>
                {% endif %} {% for field in form %}
                <label for="id_{{ field.name }}">{{ field.label }}</label>
                {{ field }} {% endfor %} {% if rice_is_on %}
                <h3>Rice is Cooking! You can't place an order right now!</h3>
                {% else %}
                <br/>
                <br/>
                <button class="btn btn-primary" type="submit" value="Place Order">Place Order</button>
                {% endif %}
            </form>
        </div>

    </div>

</div>
{% endblock content %}
