{% extends 'foodapp/base.html' %} {% block content %}

<div class="panel panel-default" style="margin-top:35px;">
    <div class="panel-heading">
        {% if title %}
        <h3 class="panel-title">{{ title }}</h3>
        {% else %}
        <h3 class="panel-title">Order History</h3>
        {% endif %}
    </div>

    {% if rice_quantity %}
    <div class="panel-body">
        <h3>{{ rice_quantity }} cups of rice needed today</h3>
    </div>
    {% endif %}

    {% if orders %}
    <table class="table table-striped">
        <tbody>
            {% if counts %} {% for key, value in counts %}
            <tr>
                <td>{{ key }}:{{ value }}</td>
            </tr>
            {% endfor %} {% endif %}
        </tbody>

        {% if error %}
        <h4 class="errorlist">{{ error }}</h4>
        {% endif %}

        {% for order in orders %}
        <tr>
            <td>{{ order }} by {{ order.user }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="panel-body">
        <h4>No orders today :(</h4>
    </div>
    {% endif %}
</div>
{% endblock content %}
