{% extends 'foodapp/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-default" style="margin-top:35px;">
    <div class="panel-heading">
        {% if title %}
            <h3 class="panel-title">{{ title }}</h3>
        {% else %}
            <h3 class="panel-title">{{ user }}'s Previous Invoices</h3>
        {% endif %}
    </div>

   {% if customer_exists %}
        {% if invoices %}
            {% for id, invoice_date, paid, items in invoices %}
                <a class="list-group-item" href="#{{ id }}" data-toggle="collapse">{{ id }}</a>
                <div class="list-group collapse out" id="{{ id }}">
                    <li class="list-group-item">
                        {% for description, item_date, quantity, amount in items %}
                            <p>{{ quantity }} {{ description }}{% if quantity > 1 %}s{% endif %} on {{ item_date }} costing {{ amount }}</p>
                        {% endfor %}
                    </li>
                </div>
            {% endfor %}
        {% if error %}
        <h4 class="errorlist">{{ error }}</h4>
        {% endif %}

    {% else %}
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <h4>No previous invoices!</h4>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}

    {% else %}
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <h4>No Stripe Customer Associated with this account. Create one!</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-xs-12 col-centered" style="text-align: center;">
                            <a href={% url 'foodapp:stripe_card_create' %} ><button class="btn btn-primary">
                                Create Stripe Customer
                                <i class="fa fa-plus-square" title="Add" style="float: center;" aria-hidden="true"></i>
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}

</div>

{% endblock content %}
