{% extends 'foodapp/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-default" style="margin-top:35px;">
    <div class="panel-heading">
        {% if title %}
        <h3 class="panel-title">{{ title }}</h3>
        {% else %}
        <h3 class="panel-title">{{ user }}'s Uninvoiced Items</h3>
        {% endif %}
    </div>

    <table class="table table-striped">
        <tbody>
        {% if customer_exists %}
            {% if invoice_items %}
                {% for amount, description, quantity, pur_date in invoice_items %}
                    <tr>
                        <td>
                            <p>Purchased {{ quantity }} {{ description }} on {{ pur_date }} totaling {{ amount }}</p>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                       <p style="font-size: 1.5em">Total: {{ total_count }} items purchased, for a total of {{ total_cost }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST" id="invoice-form" action="{% url 'foodapp:stripe_invoices' %}">
                            {% csrf_token %}
                            <button class="btn btn-primary">Pay Up!</button>
                        </form>
                    </td>
                </tr>

                {% if error %}
                <h4 class="errorlist">{{ error }}</h4>
                {% endif %}
            {% else %}
                <tr>
                    <td>
                        <h4>No orders this week!</h4>
                    </td>
                </tr>
            {% endif %}
        {% else %}
        <tr>
            <td>
                <h4>No Stripe Customer Associated with this account. Create one!</h4>
            </td>
        </tr>
       <tr>
            <td>
                <div class="col-xs-12 col-centered" style="text-align: center;">
                        <a href={% url 'foodapp:stripe_card_create' %} ><button class="btn btn-primary">
                            Create Stripe Customer
                            <i class="fa fa-plus-square" title="Add" style="float: center;" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="panel panel-default" style="margin-top:35px;">
    <div class="panel-heading">
        {% if title %}
            <h3 class="panel-title">{{ title }}</h3>
        {% else %}
            <h3 class="panel-title">{{ user }}'s Previous Invoices</h3>
        {% endif %}
    </div>

   {% if customer_exists %}
        {% if invoices %}
            <div class="list-group" id="repos">
                {% for id, invoice_date, paid, items, total in invoices %}
                    <h4>
                        <a class="list-group-item accordion-toggle" href="#{{ id }}" data-toggle="collapse">{{ invoice_date|date:"l, M d Y" }}:&nbsp;&nbsp;<strong>{{ total }}</strong></a>
                    </h4>

                    <div class="list-group collapse out" id="{{ id }}">
                        {% for description, item_date, quantity, amount in items %}
                            <li class="list-group-item">
                                <p>{{ quantity }} {{ description }}{% if quantity > 1 %}s{% endif %} on {{ item_date }} costing {{ amount }}</p>
                            </li>
                        {% endfor %}
                        </li>
                    </div>
                {% endfor %}
            </div>
        {% if error %}
        <h4 class="errorlist">{{ error }}</h4>
        {% endif %}

    {% else %}
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <h4>No previous invoices!</h4>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}

    {% else %}
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <h4>No Stripe Customer Associated with this account. Create one!</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-xs-12 col-centered" style="text-align: center;">
                            <a href={% url 'foodapp:stripe_card_create' %} ><button class="btn btn-primary">
                                Create Stripe Customer
                                <i class="fa fa-plus-square" title="Add" style="float: center;" aria-hidden="true"></i>
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}

</div>

{% endblock content %}
