{% extends 'foodapp/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Uninvoiced Items by Employee</h3>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Total Owed (uninvoiced)</th>
                <th>Unpaid Invoices</th>
                <th>Payment Errors</th>
            </tr>
        </thead>
        <tbody>
            {% for user, invoices in invoices_dict.items %}
                <tr>
                    <td>{{ user }}</td>
                    {% if invoices.0 %}
                        <td>{{ invoices.1 }}</td>
                        <td><strong>{% if invoices.2 %}<span class='text-danger'>Yes</span>{% else %}<span class='text-success'>No</span>{% endif %}</td>
                        <td><strong>{% if invoices.3 %}<span class='text-danger'>Yes</span>{% else %}<span class='text-success'>No</span>{% endif %}</td>
                    {% else %}
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
