{% extends 'foodapp/base.html' %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Unpaid Orders by Employee</h3>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Amount Due</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.username }}</td>
                    <td>{{ customer.amount_due }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
