{% extends 'accounting/base.html' %}

{% load staticfiles %}
{% load accounting_filters %}

{% block nav-links %}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />
<script src="{% static 'js/datepicker.js' %}"></script>


<div class="panel panel-default col-sm-offset-2 col-sm-8">
    <div class="panel-body">
        <h3 class="form-header">
        {% if object %}Update{% else %}Create{% endif %}
        {% if base_form_title %}{{ base_form_title }}{% else %}{{ form | get_form_model_name }}{% endif %}
        </h3>
        <hr>
        <form class="form" method="POST" action="">
            {% csrf_token %}
            {% include 'forms/block_form.html' with form=form %}
            <div class="pull-right">
                {% if cancel_url %}
                <a href="{{ cancel_url }}" class="btn btn-default">Cancel</a>
                {% endif %}
                <button class="btn btn-primary" type="submit">{% if object %} Update {% else %} Create {% endif %} {{ form | get_form_model_name }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
