{% extends 'accounting/base.html' %}

{% load staticfiles %}
{% load accounting_filters %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap-datepicker.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/accounting/form.css' %}" />
{% endblock %}

{% block nav-links %}
{% endblock %}

{% block content %}
<div class="panel panel-default col-sm-offset-2 col-sm-8">
    <div class="panel-body">
        <h3 class="form-header">
        {% if object %}Update{% else %}Create{% endif %}
        {% if base_form_title %}{{ base_form_title }}{% else %}{{ form | get_form_model_name }} {% if object %}{{ object }}{% endif %}{% endif %}
        </h3>
        <hr>
        <form class="form" method="POST" action="">
            {% csrf_token %}
            {% include 'forms/block_form.html' with form=form %}
            <div class="pull-right">
                {% if cancel_url %}
                <a href="{{ cancel_url }}" class="btn btn-default">Cancel</a>
                {% endif %}
                <button class="btn btn-primary" type="submit">{% if object %} Update {% else %} Create {% endif %} {{ form | get_form_model_name }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/accounting/datepicker.js' %}"></script>
{% endblock %}
