{% extends 'accounting/base.html' %}

{% load staticfiles %}
{% load accountingFilters %}

{% block nav-links %}
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />

<div class="panel panel-default">
  <div class="panel-body">
      <h3 class="form-header">{% if object %} Update {% else %} Create {% endif %} {{ form.instance | get_form_model_name }}</h3>

        <form class="form" method="POST" action="">
                {% csrf_token %}
                {% for field in form %}
                	<div class="form-group {% if field.errors %}has-error{% endif %}">
                		<label for="{{ field.id_for_label }}">{{field.label | title}}</label>
                		
                		{% if field.errors %}
	                		{% for error in field.errors %}
	                	        		<p class="error"> {{ error }} </p>
	                	        	{% endfor %}
			{% endif %}
                		
                		{{ field }}

       			{% if field.help_text %}
        				<p class="help">{{ field.help_text|safe }}</p>
        			{% endif %}
                	</div>
                {% endfor %}
            <button class="btn btn-default" type="submit">{% if object %} Update {% else %} Create {% endif %} {{ form.instance | get_form_model_name }}</button>
        </form>  </div>
</div>
{% endblock %}