{% extends "accounting/base.html" %}

{% load staticfiles %}





{% block content %}

    </br>
    <ul class="nav nav-tabs">
        <li><a href={% url 'accounting:dashboard' pk=current.pk %}>Dashboard</a></li>
        <li class="active"><a href={% url 'accounting:contracts' pk=current.pk %}>Contracts</a></li>
        <li><a href={% url 'accounting:expenses' pk=current.pk %}>Expenses</a></li>
        <li><a href="#">Personel</a></li>
        <li><a href="#">Prospects</a></li>
    </ul>


        <a class="btn btn-primary" href={% url 'accounting:create_contract' pk=current.pk %}> Create Contract</a>

    {% for contract in contracts %}
    <div class="row">
        <div class="col-md-4">
        <h4>
            <a href=#>{{contract.organization_name}}</a>
        </h4>
        </div>
        <div class="col-md-8">
            <h4>
                <a class="btn btn-primary" href={% url 'accounting:update_contract' pk=current.pk contract=contract.pk %}>Update</a>
                <a class="btn btn-primary" href={% url 'accounting:delete_contract' pk=current.pk contract=contract.pk %}>Delete</a>
            </h4>

        </div>
    </div>
    {% endfor %}
{% endblock %}