{% extends "accounting/base.html" %}

{% load staticfiles %}

{% block content %}

{% include "accounting/nav_tabs.html" with active="contracts" %}

    <div class="row">
        <div class="col-md-12">
            </br>
            {% if not is_viewer %}
            <a class="btn btn-primary" href={% url 'accounting:create_contract' business_unit=current_business_unit.pk %}>Create Contract</a>
            {% endif %}
            </br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

        {% if active_contracts %}
            <h3>Active Contracts</h3>
            <hr></hr>
            {% for contract_invoice in active_contracts %}

            <div class="model-display">

            <div role="tab" id="headingOne">
                <div class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{contract_invoice.contract.pk}}" aria-expanded="true" aria-controls="collapse{{contract_invoice.contract.pk}}">
                        <h4 class="lead'">{{contract_invoice.contract.department}} {{ contract_invoice.contract.contract_number|stringformat:"04d" }}: {{ contract_invoice.contract.organization_name }}</h4><hr>
                    </a>
                </div>
            </div>

            <div id="collapse{{contract_invoice.contract.pk}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{contract_invoice.contract.pk}}">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Total Amount: ${{contract_invoice.contract.amount }}</h4>
                            <h5>Start Date: {{contract_invoice.contract.start_date}}</h5>
                            <h5>Contract Type: {{contract_invoice.contract.contract_type }}</h5>
                        </div>
                        <div class="col-md-8">
                            {% if not is_viewer %}
                            <h4>
                                <a class="btn btn-primary" href={% url 'accounting:update_contract' business_unit=current_business_unit.pk contract=contract_invoice.contract.pk %}>Update Contract</a>
                                <a class="btn btn-primary btn-delete" href={% url 'accounting:delete_contract' business_unit=current_business_unit.pk contract=contract_invoice.contract.pk %}>Delete Contract</a>
                            </h4>
                            {% endif %}
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        {% if not contract_invoice.invoices %}
                        <div class="col-md-12">
                            <p>No invoices for this contract.</p>
                        </div>
                        {% endif %}
                        <div class="col-md-12">
                            {% if not is_viewer %}
                                <a class="btn btn-primary" href={% url 'accounting:create_invoice' business_unit=current_business_unit.pk contract=contract_invoice.contract.pk %}>Create Invoice</a>
                            {% endif %}
                        </div>
                        {% if contract_invoice.invoices %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Invoice Date: </th>
                                        <th>Status: </th>
                                        <th>Amount: </th>
                                        <th>Update/Delete</th>
                                    </tr>
                                </thead>
                            <tbody>
                                {% for invoice in contract_invoice.invoices %}
                                <tr class="model-display">
                                    <th scope="row">{{ invoice.number }}</th>
                                        <td>{{ invoice.date_payable }}</td>
                                        <td>{{ invoice.transition_state }}</td>
                                        <td>{{ invoice.predicted_amount }}</td>
                                        {% if not is_viewer %}
                                        <td>
                                            <a class="btn btn-primary" href={% url 'accounting:update_invoice' business_unit=current_business_unit.pk contract=contract_invoice.contract.pk invoice=invoice.pk %}>Update</a>
                                            <a class="btn btn-primary btn-delete" href={% url 'accounting:delete_invoice' business_unit=current_business_unit.pk contract=contract_invoice.contract.pk invoice=invoice.pk %}>Delete</a>
                                        </td>
                                        {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                    </div>
                    </br>
            </div>

            </div>

            {% endfor %}
        {% else %}
            <h4>No active contracts for this business unit.</h4>
        {% endif %}
        {% if completed_contracts %}
            <h3>Completed Contracts</h3>
            <hr></hr>
            {% for contract_invoice in completed_contracts %}

            <div class="model-display">

            <div role="tab" id="headingOne">
                <div class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{contract_invoice.contract.pk}}" aria-expanded="true" aria-controls="collapse{{contract_invoice.contract.pk}}">
                        <h4 class="lead'">{{contract_invoice.contract.department}} {{ contract_invoice.contract.contract_number|stringformat:"04d" }}: {{ contract_invoice.contract.organization_name }}</h4><hr>
                    </a>
                </div>
            </div>

            <div id="collapse{{contract_invoice.contract.pk}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{contract_invoice.contract.pk}}">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Total Amount: ${{contract_invoice.contract.amount }}</h4>
                            <h5>Start Date: {{contract_invoice.contract.start_date}}</h5>
                            <h5>Contract Type: {{contract_invoice.contract.contract_type }}</h5>
                        </div>
                        <div class="col-md-8">
                            {% if not is_viewer %}
                            <h4>
                                <a class="btn btn-primary" href={% url 'accounting:update_contract' business_unit=current_business_unit.pk contract=contract_invoice.contract.pk %}>Update</a>
                                <a class="btn btn-primary btn-delete" href={% url 'accounting:delete_contract' business_unit=current_business_unit.pk contract=contract_invoice.contract.pk %}>Delete</a>
                            </h4>
                            {% endif %}
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        {% if not contract_invoice.invoices %}
                        <div class="col-md-12">
                            <p>No invoices for this contract.</p>
                        </div>
                        {% endif %}
                        <div class="col-md-12">
                            {% if not is_viewer %}
                                <a class="btn btn-primary" href={% url 'accounting:create_invoice' business_unit=current_business_unit.pk contract=contract_invoice.contract.pk %}>Create Invoice</a>
                            {% endif %}
                        </div>
                        {% if contract_invoice.invoices %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Invoice Date: </th>
                                        <th>Status: </th>
                                        <th>Amount: </th>
                                        <th>Update/Delete</th>
                                    </tr>
                                </thead>
                            <tbody>
                                {% for invoice in contract_invoice.invoices %}
                                <tr class="model-display">
                                    <th scope="row">{{ invoice.number }}</th>
                                        <td>{{ invoice.date_payable }}</td>
                                        <td>{{ invoice.transition_state }}</td>
                                        <td>{{ invoice.predicted_amount }}</td>
                                        {% if not is_viewer %}
                                        <td>
                                            <a class="btn btn-primary" href={% url 'accounting:update_invoice' business_unit=current_business_unit.pk contract=contract_invoice.contract.pk invoice=invoice.pk %}>Update</a>
                                            <a class="btn btn-primary btn-delete" href={% url 'accounting:delete_invoice' business_unit=current_business_unit.pk contract=contract_invoice.contract.pk invoice=invoice.pk %}>Delete</a>
                                        </td>
                                        {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                    </div>
                    </br>
            </div>

            </div>

            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}
