{% load humanize %}

{% with contract=contract_ctx.contract %}
<div role="tab">
    <div class="panel-title">
        <a role="button" data-toggle="collapse" href="#collapse-{{ contract.pk }}">
            <h4 class="lead" style="margin: 10px 0">
                {{ contract.contract_id }}: {{ contract.name }}
            </h4>
        </a>
    </div>
</div>

<div id="collapse-{{ contract.pk }}" class="panel-collapse collapse" role="tabpanel">
    <div class="row">

        <!-- Contract Details -->
        <div class="col-md-4">
            <table class="table">
                <tr><th>Total Amount:</th>  <td>${{ contract.amount }}</td></tr>
                <tr><th>Start Date:</th>    <td>{{ contract.start_date }}</td></tr>
                <tr><th>Contract Type:</th> <td>{{ contract.get_type_display }}</td></tr>
            </table>
            {% if is_manager %}

            <!-- New controls-->
            {% if contract.state == contract.STATES.NEW %}
            <form action="" method="post">
                {% csrf_token %}
                <a class="btn btn-sm btn-primary" name="activate" value="{{ contract.pk }}"
                 data-toggle="modal" data-target="#action-modal"
                 data-title="Confirm Activation" data-body="Are you sure you want to activate <b>{{ contract.contract_id }}: {{ contract.name }}</b>?"
                 data-btn-class="btn-primary">
                    Activate
                </a>

                <div class="btn-group btn-group-sm">
                    <a class="btn btn-sm btn-primary" href="{{ contract_ctx.update_url }}">Update Contract</a>
                    <a class="btn btn-sm btn-danger" name="delete" value="{{ contract.pk }}"
                     data-toggle="modal" data-target="#action-modal"
                     data-title="Confirm Deletion" data-body="Are you sure you want to delete <b>{{ contract.contract_id }}: {{ contract.name }}</b>?"
                     data-btn-class="btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </form>
            {% endif %}

            <!-- Active controls-->
            {% if contract_ctx.contract.state == contract.STATES.ACTIVE %}
            <form action="" method="post">
                {% csrf_token %}
                <a class="btn btn-sm btn-primary" name="complete" value="{{ contract.pk }}"
                 data-toggle="modal" data-target="#action-modal"
                 data-title="Confirm Completion" data-body="Are you sure you want to mark <b>{{ contract.contract_id }}: {{ contract.name }}</b> as complete?"
                 data-btn-class="btn-primary">
                    Complete
                </a>
            </form>
            {% endif %}

            <br>
            {% endif %}
        </div>

        <!-- Contract Invoices -->
        <div class="col-md-8">
            {% if not contract_ctx.invoices %}
            <p class="text-center"><b>No invoices for this contract.</b></p>
            {% endif %}

            {% if contract_ctx.invoices %}
            <table class="table table-hover">
                <tr>
                    <th class="col-xs-3">Invoice ID:</th>
                    <th class="col-xs-2">Date:</th>
                    <th class="col-xs-2">Status:</th>
                    <th class="col-xs-2">Predicted:</th>
                    <th class="col-xs-2">Actual:</th>
                    <th class="col-xs-1">Actions:</th>
                </tr>

                {% for invoice_ctx in contract_ctx.invoices %}
                {% with invoice=invoice_ctx.invoice %}
                <tr>
                    <td>{{ invoice.invoice_id|default:"---------" }}</td>
                    <td>{{ invoice.date|date:"DATE_FORMAT" }}</td>
                    <td>{{ invoice.get_state_display }}</td>
                    <td>${{ invoice.predicted_amount|intcomma }}</td>
                    <td>{% if invoice.actual_amount is not None %}
                        ${{ invoice.actual_amount|intcomma }}
                        {% endif %}
                    </td>
                    {% if is_manager %}
                    <td>
                        <form action="{{ invoice_ctx.delete_url }}" method="post">
                            {% csrf_token %}
                            <div class="btn-group btn-group-xs" style="display: flex;"> <!-- prevents button wrapping -->
                                {% if contract.state != contract.STATES.COMPLETE %}
                                <a class="btn btn-default" href="{{ invoice_ctx.update_url }}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                {% endif %}

                                {% if contract.state == contract.STATES.NEW %}
                                <a class="btn btn-danger" data-toggle="modal" data-target="#action-modal"
                                 data-title="Confirm Deletion"
                                 data-body="Are you sure you want to delete invoice on <b>{{ invoice.date }}</b> for contract <b>{{ contract.contract_id }}</b>?"
                                 data-btn-class="btn-danger" data-btn-text="Delete">
                                    <i class="fa fa-trash"></i>
                                </a>
                                {% endif %}
                            </div>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endwith %}
                {% endfor %}
            </table>
            {% endif %}

            {% if is_manager and contract.state == contract.STATES.NEW %}
            <p class="text-center">
                <a class="btn btn-sm btn-primary" href="{{ contract_ctx.invoice_url }}">Create Invoice</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endwith %}
