{% extends "accounting/base.html" %}

{% block content %}
{% include "accounting/nav_tabs.html" with active="contracts" %}

<!-- Active Contracts -->
<div class="panel panel-default">
    <div class="panel-body">
        <h3>
            Active Contracts
            {% if not is_viewer %}
            <a class="btn btn-xs btn-primary" href="{% url 'accounting:create_contract' business_unit=current_business_unit.pk %}">
                New <i class="fa fa-fw fa-plus"></i>
            </a>
            {% endif %}
        </h3>
    </div>
    <ul class="list-group">
        {% for contract_ctx in active_contracts %}
        <li class="list-group-item">
            {% include 'accounting/contract_brief.html' with contract_ctx=contract_ctx contract=contract_ctx.contract %}
        </li>
        {% empty %}
        <li class="list-group-item text-center">
            <h4>No active contracts for this business unit.</h4>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- Completed Contracts-->
{% if completed_contracts %}
<div class="panel panel-default">
    <div class="panel-body">
        <h3>Completed Contracts</h3>
    </div>
    <ul class="list-group">
        {% for contract_ctx in completed_contracts %}
        <li class="list-group-item">
            {% include 'accounting/contract_brief.html' with contract_ctx=contract_ctx contract=contract_ctx.contract %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
