{% extends "accounting/base.html" %}

{% load staticfiles %}

{% block content %}

    </br>
    <ul class="nav nav-tabs">
        <li class="active"><a href={% url 'accounting:dashboard' pk=current.pk %}>Dashboard</a></li>
        <li><a href={% url 'accounting:contracts' pk=current.pk %}>Contracts</a></li>
        <li><a href={% url 'accounting:expenses' pk=current.pk month=current_month.pk %}>Expenses</a></li>
        <li><a href={% url 'accounting:personnel' pk=current.pk %}>Personnel</a></li>
        <li><a href="#">Prospects</a></li>
    </ul>
    </br>

<script src="http://code.highcharts.com/highcharts.js"></script>
<div id="container" style="width:100%; height:400px;"></div>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Predicted / Actual Values for Months'
        },
        xAxis: {
            categories: {{ months | safe }}
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Predicted',
            data: {{ predicted_totals | safe }}
        }, {
            name: 'Actual',
            data: {{ actual_totals | safe }}
        }]
    });
});
</script>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Total Amounts</h3>
                <div class="row">
                    <div class="col-md-3">  
                        <p>Cash Projected:</p>    
                        <p>Cash Actual:</p>                          
                    </div>
                    <div class="col-md-3">
                        <p>{{ cash_predicted }}</p>
                        <p>{{ cash_actual }}</p>
                    </div>
                    <div class="col-md-3">  
                        <p>Surplus Projected:</p>    
                        <p>Surplus Actual:</p>                          
                    </div>
                    <div class="col-md-3">
                        <p>{{ salary.position }}</p>
                        <p>{{ salary.employee_id }}</p>
                    </div>
                </div>               
            </div>
        </div>
    </div>
    <hr>

{% if not personnel %}
    <div class="row">
        <div class="col-md-12">
        <h4>No personnel for this business unit.
            <a class="btn btn-primary" href={% url 'accounting:create_contract' pk=current.pk %}> Create Personnel</a>
        </h4>
        </div>
    </div>
{% endif %}

{% if not contracts %}
    <div class="row">
        <div class="col-md-12">
            <h4>No contracts for this business unit.
                <a class="btn btn-primary" href={% url 'accounting:create_contract' pk=current.pk %}> Create Contract</a>
            </h4>
        </div>
    </div>
{% endif %}

{% endblock %}