{% extends "accounting/base.html" %}

{% load staticfiles %}

{% block content %}

    {% include "accounting/nav_tabs.html" with active="expenses" %}

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="dropdown">
                    <h4 class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">January <span class="caret"></span></h4>
                    <ul class="dropdown-menu">
                        {% for month in months %}
                            <li class="text-right"><a href={% url 'accounting:expenses' business_unit=current_business_unit.pk %}>{{ month |date:"F Y" }}</a></li>
                            {% if month|date:"F" == "December" and not forloop.last %}
                                <li class="divider"></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                    <h4>Cash</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                    <h4>Expenses</h4>
            </div>
            <div class="col-md-9">
                    {% if not is_viewer %}
                        <a class="btn btn-primary" href={% url 'accounting:create_expense' business_unit=current_business_unit.pk %}>Create Expense</a>
                    {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                    <h4>Income</h4>
            </div>
            <div class="col-md-9">
                {% if not is_viewer %}
                    <a class="btn btn-primary" href={% url 'accounting:create_income' business_unit=current_business_unit.pk %}>Create Income</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
