{% extends "accounting/base.html" %}

{% load staticfiles %}

{% block content %}

    {% include "accounting/nav_tabs.html" with active="expenses" %}
    
    {% include "accounting/year_picker.html" with active="expenses" %}

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="dropdown">
                    <h4 class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ active_month|date:"F Y" }}<span class="caret"></span></h4>
                    <ul class="dropdown-menu">
                        {% for month in months %}
                            <li class="text-right">
                            {% if start_year and end_year %}
                            <a href={% url 'accounting:expenses' business_unit=current_business_unit.pk month=month.month start_year=start_year end_year=end_year %}>{{month|date:"F Y" }}</a>
                            {% else %}
                            <a href={% url 'accounting:expenses' business_unit=current_business_unit.pk month=month.month %}>{{month|date:"F Y" }}</a>
                            {% endif %}

                            </li>
                            {% if month|date:"F" == "December" and not forloop.last %}
                                <li class="divider"></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                    <h4>Cash</h4>
            </div>
            <div class="col-md-9">
                {% if not is_viewer %}
                    {% if cash %}
                        <span>
                            <h4 style="display: inline-block;">Cash Actual: ${{ cash.actual_amount }}</h4>
                            <a class="btn btn-primary" href={% url 'accounting:update_cash' business_unit=current_business_unit.pk cash=cash.pk %}>Update Cash</a>
                        </span>
                    {% else %}
                        <a class="btn btn-primary" href={% url 'accounting:create_cash' business_unit=current_business_unit.pk month=active_month.month year=active_month.year %}>Create Cash</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                    <h4>Expenses</h4>
            </div>
            <div class="col-md-9">
                    {% if not is_viewer %}
                        <a class="btn btn-primary" href={% url 'accounting:create_expense' business_unit=current_business_unit.pk %}>Create Expense</a>
                        <a class="btn btn-primary" href={% url 'accounting:create_payroll_expense' business_unit=current_business_unit.pk month=active_month.month year=active_month.year %}>Create Payroll Expense</a>
                    {% endif %}
            </div>
        </div>
        <div class="row">
            {% if expenses %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Name:</th>
                        <th>Date Payable: </th>
                        <th>Date Paid: </th>
                        <th>Amount: </th>
                        <th>Update/Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr class="model-display">
                        <th scope="row">{{ expense.name }}</th>
                            <td>{{ expense.date_payable }}</td>
                            <td>{{ expense.date_paid }}</td>
                            <td>${{ expense.predicted_amount }}</td>
                            {% if not is_viewer %}
                            <td>
                                <a class="btn btn-primary" href={% url 'accounting:update_expense' business_unit=current_business_unit.pk expense=expense.pk %}>Update</a>
                                {% if expense.name != "Payroll" %}
                                <a class="btn btn-primary btn-delete" href={% url 'accounting:delete_expense' business_unit=current_business_unit.pk expense=expense.pk%}>Delete</a>
                                {% endif %}
                            </td>
                            {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                {% else %}
                <p>No expenses for this month. </p>
                {% endif %}
        </div>
        <div class="row">
            <div class="col-md-3">
                    <h4>Income</h4>
            </div>
            <div class="col-md-9">
                {% if not is_viewer %}
                    <a class="btn btn-primary" href={% url 'accounting:create_income' business_unit=current_business_unit.pk %}>Create Income</a>
                {% endif %}
            </div>
        </div>

        <div class="row">
        {% if incomes %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Name:</th>
                        <th>Date Payable: </th>
                        <th>Date Paid: </th>
                        <th>Amount: </th>
                        <th>Update/Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for income in incomes %}
                    <tr class="model-display">
                        <th scope="row">{{ income.name }}</th>
                            <td>{{ income.date_payable }}</td>
                            <td>{{ income.date_paid }}</td>
                            <td>${{ income.predicted_amount }}</td>
                            {% if not is_viewer %}
                            <td>
                                <a class="btn btn-primary" href={% url 'accounting:update_income' business_unit=current_business_unit.pk income=income.pk %}>Update</a>
                                <a class="btn btn-primary btn-delete" href={% url 'accounting:delete_income' business_unit=current_business_unit.pk income=income.pk %}>Delete</a>
                            </td>
                            {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No incomes for this month. </p>
            {% endif %}
        </div>
    </div>

{% endblock %}
