{% extends "accounting/base.html" %}

{% block nav-links-left %}{% endblock %}

{% block content %}

<div class="row">
    <div class="panel panel-default col-sm-offset-3 col-sm-6">
        <table class="table table-bordered" style="font-size: 1.5em;">
            <tbody>
            {% for business_unit in business_units %}
            <tr>
                <td>
                    <a href="{% url 'accounting:dashboard' business_unit=business_unit.pk %}">
                        {{ business_unit.name }} (Account {{ business_unit.account_number }})
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>
                    <div class="col-xs-12 text-center">
                        <h4 class="">You currently are not associated with any business units.</h4>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-3 col-sm-6 text-center">
        <a class="btn btn-primary" href={% url 'accounting:create_business_unit' %}>
            Create Business Unit <i class="fa fa-fw fa-plus-square" title="Add" aria-hidden="true"></i>
        </a>
    </div>
</div>

{% endblock %}
