{% extends "accounting/base.html" %}

{% block nav-links-left %}{% endblock %}

{% block content %}

<div class="panel panel-default">
    <table class="table table-bordered" style="font-size: 1.5em;">
        <tbody>
        {% for business_unit in business_units %}
            <tr>
                <td>
                    <a href="{% url 'accounting:dashboard' business_unit=business_unit.pk %}">
                        {{ business_unit.name }} (Account {{ business_unit.account_number }})
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>
                    <div class="col-xs-12 text-center">
                        <h3 class="">You currently are not associated with any business units.</h3>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <a class="btn btn-primary" href={% url 'accounting:create_business_unit' %}>
            Create Business Unit <i class="fa fa-fw fa-plus-square" title="Add" aria-hidden="true"></i>
        </a>
    </div>
</div>

{% endblock %}
