{% extends 'accounting/base.html' %}
{% load staticfiles %}
{% block nav-links %}
{% endblock %}
{% block content %}
<div class="container">
<div class="page-header">
    <h3>Update Part Time Employee</h3>
</div>
<div class="row">
        {% if form.errors %}
        <div class="alert alert-danger"> {{ form.errors }} </div>
        {% endif %}

        <form class="form" method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Update Part Time Employee</button>
        </form>
</div>
{% endblock %}