{% extends "accounting/base.html" %}

{% load staticfiles %}

{% block content %}

{% include "accounting/nav_tabs.html" with active="personnel" %}

<div id="contentContainer" class="col-xs-0 col-sm-9">
    <div id="workTab" class="tabbable">
        <ul class= "nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#full-time" aria-expanded="true">Full Time Personnel</a></li>
            <li><a data-toggle="tab" href="#part-time" aria-expanded="true">Part Time Personnel</a></li>
        </ul>
        <div class= "tab-content" >
            <div id="full-time" class="tab-pane active">
                </br>
                {% if not full_time %}
                    <h4>No full time personnel for this business unit.</h4>
                {% endif %}
                {% if is_manager %}
                    <a class="btn btn-primary" href={% url 'accounting:create_full_time' business_unit=current_business_unit.pk %}>Create Full Time Employee</a>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        {% for employee in full_time %}
                        </br>
                        <div class="model-display" role="tab" id="headingOne">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ employee.pk }}" aria-expanded="true" aria-controls="collapse{{ employee.pk }}">
                                    <p class="lead'"><h4>{{ employee.first_name }} {{ employee.last_name }} - {{ employee.position }}</h4></p><hr>
                                </a>
                            </div>
                        </div>

                        <div id="collapse{{ employee.pk }}" class="panel-collapse collapse model-display" role="tabpanel" aria-labelledby="heading{{ employee.pk }}">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Position: {{ employee.position }}</h5>
                                    <h5>ID: {{ employee.employee_id }}</h5>
                                    <h5>Salary Type: {{ employee.salary_type }}</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5>Social Security: {{ employee.social_security_amount }}</h5>
                                    <h5>Fed Insurance: {{ employee.fed_health_insurance_amount }}</h5>
                                    <h5>Retirement: {{ employee.retirement_amount }}</h5>
                                    <h5>Medical Insurance: {{ employee.medical_insurance_amount }}</h5>
                                    <h5>Staff Benefits: {{ employee.staff_benefits_amount }}</h5>
                                    <h5>Fringe: {{ employee.fringe_amount }}</h5>
                                </div>
                                <div class="col-md-4">
                                    {% if is_manager %}
                                    <h4>
                                        <a class="btn btn-primary" href={% url 'accounting:update_full_time' business_unit=current_business_unit.pk full_time=employee.pk %}>Update</a>
                                        <form action="{% url 'accounting:delete_full_time' business_unit=current_business_unit.pk full_time=employee.pk %}" method="post">
                                            {% csrf_token %}
                                            <a class="btn btn-danger" data-toggle="modal" data-target="#baseDeleteModal" data-model="{{employee.first_name}} {{employee.last_name}}">Delete</a>
                                        </form>
                                    </h4>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div id="part-time" class="tab-pane ">
                </br>
                {% if not part_time %}
                <h4>No part time personnel for this business unit.</h4>
                {% endif %}
                {% if is_manager %}
                    <a class="btn btn-primary" href={% url 'accounting:create_part_time' business_unit=current_business_unit.pk  %}>Create Part Time Employee</a>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        {% for part_time in part_time %}
                        </br>
                        <div class="model-display" role="tab" id="headingOne">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{part_time.pk}}" aria-expanded="true" aria-controls="collapse{{part_time.pk}}">
                                    <p class="lead'"><h4>{{ part_time.first_name }} {{ part_time.last_name }} - {{ part_time.position }}</h4></p><hr>
                                </a>
                            </div>
                        </div>
                        <div id="collapse{{part_time.pk}}" class="panel-collapse collapse model-display" role="tabpanel" aria-labelledby="heading{{part_time.pk}}">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Position: {{ part_time.position }}</5>
                                    <h5>ID: {{ part_time.employee_id }}</h5>
                                    <h5>Type: {{ part_time.hourly_type }}</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5>Wage: ${{ part_time.hourly_amount }}</h5>
                                    <h5>Hours: {{ part_time.hours_work }}</h5>
                                </div>
                                <div class="col-md-4">
                                    {% if is_manager %}
                                    <h4>
                                        <a class="btn btn-primary" href={% url 'accounting:update_part_time' part_time=part_time.pk business_unit=current_business_unit.pk %}>Update</a>
                                        <form action="{% url 'accounting:delete_part_time' part_time=part_time.pk  business_unit=current_business_unit.pk %}" method="post">
                                            {% csrf_token %}
                                            <a class="btn btn-danger" data-toggle="modal" data-target="#baseDeleteModal" data-model="{{part_time.first_name}} {{part_time.last_name}}">Delete</a>
                                        </form>
                                    </h4>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
