{% extends "accounting/base.html" %}

{% load staticfiles %}



{% block content %}

    </br>
    <ul class="nav nav-tabs">
        <li><a href={% url 'accounting:dashboard' pk=current.pk %}>Dashboard</a></li>
        <li><a href={% url 'accounting:contracts' pk=current.pk %}>Contracts</a></li>
        <li><a href={% url 'accounting:expenses' pk=current.pk month=current_month.pk %}>Expenses</a></li>
        <li class="active"><a href={% url 'accounting:personnel' pk=current.pk %}>Personnel</a></li>
        <li><a href="#">Prospects</a></li>
    </ul>

<!-- Add tabs for salary vs. partime -->


<div id="contentContainer" class="col-xs-0 col-sm-9">
    <div id="workTab" class="tabbable">
        <ul class= "nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#salary" aria-expanded="true">Salary Personnel</a></li>
            <li ><a  data-toggle="tab" href="#part-time" aria-expanded="true">Part Time Personnel</a></li>
        </ul>
        <div class= "tab-content" >
            <div id="salary" class="tab-pane active">
                <a class="btn btn-primary" href={% url 'accounting:create_salary' pk=current.pk %}>Create Salary Employee</a>

                <div class="row">
                    <div class="col-md-12">

                        {% if salary %}
        
                            {% for salary in salary %}

                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{salary.pk}}" aria-expanded="true" aria-controls="collapse{{salary.pk}}">
                                        <p class="lead'"><h4>{{ salary.first_name }} {{ salary.last_name }}</h4></p>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapse{{salary.pk}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{salary.pk}}">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">                                
                                            <p>Salary Type:{{ salary.salary_type }}</p> 
                                            <p>Social Security:{{ salary.social_security_amount }}</p> 
                                            <p>Fed Insurance:{{ salary.fed_health_insurance_amount }}</p> 
                                            <p>Retirement:{{ salary.retirement_amount }}</p> 
                                            <p>Medical Insurance:{{ salary.medical_insurance_amount }}</p>
                                            <p>Staff Benefits:{{ salary.staff_benefits_amount }}</p>
                                            <p>Fringe:{{ salary.fringe_amount }}</p>                              
                                        </div>
                                        <div class="col-md-8">
                                            <h4>
                                                <a class="btn btn-primary" href={% url 'accounting:update_salary' pk=current.pk salary=salary.pk %}>Update</a>
                                                <a class="btn btn-primary" href={% url 'accounting:delete_salary' pk=current.pk salary=salary.pk %}>Delete</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <p class="lead">No salary personnel for this business unit.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="part-time" class="tab-pane ">
                <a class="btn btn-primary" href={% url 'accounting:create_part_time' pk=current.pk  %}>Create Part Time Employee</a>
                <div class="row">
                    <div class="col-md-12">

                        {% if part_time %}

                            {% for part_time in part_time %}
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{part_time.pk}}" aria-expanded="true" aria-controls="collapse{{part_time.pk}}">
                                        <p class="lead'"><h4>{{ part_time.first_name }} {{ part_time.last_name }}</h4></p>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{part_time.pk}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{part_time.pk}}">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>Type:{{ part_time.hourly_type }}</p> 
                                            <p>Wage:{{ part_time.hourly_amount}}</p> 
                                            <p>Hours:{{ part_time.hours_work }}</p> 
                                        </div>
                                        <div class="col-md-8">
                                            <h4>
                                                <a class="btn btn-primary" href={% url 'accounting:update_part_time' part_time=part_time.pk pk=current.pk %}>Update</a>
                                                <a class="btn btn-primary" href={% url 'accounting:delete_part_time' part_time=part_time.pk  pk=current.pk %}>Delete</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <p class="lead">No part time personnel for this business unit.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{% endblock %}