{% extends "accounting/base.html" %}

{% load staticfiles %}

{% block content %}

    {% include "accounting/nav_tabs.html" with active="revenue" %}

    <div class="row">
            {% if invoices %}

                    <table class="table">
                        <thead>
                            <tr>
                                <th><h3>Invoiced:</h3></th>
                                <th>Date Payable: </th>
                                <th>Amount: </th>
                                <th>Update/Delete</th>
                            </tr>
                        </thead>
                    <tbody>
                    {% for invoice in invoices %}
                        {% if invoice.transition_state == 'INVOICED'%}
                        <tr>
                            <th scope="row">{{invoice.contract.department}}{{invoice.contract.contract_number|stringformat:"04d"}}-{{invoice.number}}: {{invoice.contract.organization_name}}</th>
                                <td>{{ invoice.date }}</td>
                                <td>{{ invoice.predicted_amount }}</td>
                                {% if is_manager %}
                                <td>
                                    <a class="btn btn-primary" href={% url 'accounting:update_invoice' business_unit=current_business_unit.pk contract=invoice.contract.pk invoice=invoice.pk %}>Update</a>
                                    <form action="{% url 'accounting:delete_invoice' business_unit=current_business_unit.pk contract=invoice.contract.pk invoice=invoice.pk %}" method="post">
                                        {% csrf_token %}
                                        <a class="btn btn-danger" data-toggle="modal" data-target="#baseDeleteModal" data-model="{{invoice.name}}">Delete</a>
                                    </form>
                                </td>
                                {% endif %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th><h3>Not Invoiced:</h3></th>
                                <th>Date Payable: </th>
                                <th>Amount: </th>
                                <th>Update/Delete</th>
                            </tr>
                        </thead>
                    <tbody>
                        {% for invoice in invoices %}
                            {% if invoice.transition_state == 'NOT_INVOICED'%}

                        <tr>
                            <th scope="row">{{invoice.contract.department}}{{invoice.contract.contract_number|stringformat:"04d"}}-{{invoice.number}}: {{invoice.contract.organization_name}}</th>
                                <td>{{ invoice.date_payable }}</td>
                                <td>{{ invoice.predicted_amount }}</td>
                                {% if is_manager %}
                                <td>
                                    <a class="btn btn-primary" href={% url 'accounting:update_invoice' business_unit=current_business_unit.pk contract=invoice.contract.pk invoice=invoice.pk %}>Update</a>
                                    <form action="{% url 'accounting:delete_invoice' business_unit=current_business_unit.pk contract=invoice.contract.pk invoice=invoice.pk %}" method="post">
                                        {% csrf_token %}
                                        <a class="btn btn-danger" data-toggle="modal" data-target="#baseDeleteModal" data-model="{{invoice.name}}">Delete</a>
                                    </form>
                                </td>
                                {% endif %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                    </table>


                    <table class="table">
                        <thead>
                            <tr>
                                <th><h3>Received:</h3></th>
                                <th>Date Paid: </th>
                                <th>Amount: </th>
                                <th>Update/Delete</th>
                            </tr>
                        </thead>
                    <tbody>
                        {% for invoice in invoices %}
                        {% if invoice.transition_state == 'RECEIVED'%}

                        <tr>
                            <th scope="row">{{invoice.contract.department}}{{invoice.contract.contract_number|stringformat:"04d"}}-{{invoice.number}}: {{invoice.contract.organization_name}}</th>
                                <td>{{ invoice.date_paid }}</td>
                                <td>{{ invoice.actual_amount }}</td>
                                {% if is_manager %}
                                <td>
                                    <a class="btn btn-primary" href={% url 'accounting:update_invoice' business_unit=current_business_unit.pk contract=invoice.contract.pk invoice=invoice.pk %}>Update</a>
                                    <form action="{% url 'accounting:delete_invoice' business_unit=current_business_unit.pk contract=invoice.contract.pk invoice=invoice.pk %}" method="post">
                                        {% csrf_token %}
                                        <a class="btn btn-danger" data-toggle="modal" data-target="#baseDeleteModal" data-model="{{invoice.name}}">Delete</a>
                                    </form>
                                </td>
                                {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>


        {% else %}
            <h4>No Invoices for this business unit.</h4>
        {% endif %}

    </div>
{% endblock %}
