{% extends "accounting/base.html" %}

{% load staticfiles %}

{% block content %}

    {% include "accounting/nav_tabs.html" with active="settings" %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked nav-tabs">
                    <li role="presentation" class="active"><a data-toggle="tab" href="#general" aria-expanded="true">General</a></li>
                    <li role="presentation"><a data-toggle="tab" href="#permissions" aria-expanded="true">Permissions</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                <div class="tab-content">
                    <div id="general" class="tab-pane active">

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">General</h3>
                          </div>
                          <div class="panel-body">

                            <h4>Name: {{ current.name }}</h4>
                            <h4>Account Number: {{ current.account_number }}</h4>
                            <br>
                            <p>
                                <a class="btn btn-primary" href={% url 'accounting:update_business_unit' business_unit=current.pk %}>Update</a>
                            </p>
                            <p>
                                <a class="btn btn-danger" href={% url 'accounting:delete_business_unit' business_unit=current.pk %}>Delete {{current.name}}</a>
                            </p>
                          </div>
                        </div>

                    </div>
                    <div id="permissions" class="tab-pane">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Permissions</h3>
                          </div>
                          <div class="panel-body">
                            <a class="btn btn-primary" href={% url 'accounting:create_accounting_user' business_unit=current.pk %}>Create New User Permissions</a>

                            <h3>Managers</h3>

                            <ul class="list-group">
                                {% for manager in managers %}
                                <li class="list-group-item">
                                    {{ manager.user.username }} - 
                                    <a href={% url 'accounting:update_accounting_user' business_unit=current.pk accounting_user=manager.pk %}>Update</a> | 
                                    <a href={% url 'accounting:delete_accounting_user' business_unit=current.pk accounting_user=manager.pk %}>Delete</a></li>
                                {% endfor %}
                            </ul>

                            <h3>Viewers</h3>

                            <ul class="list-group">
                                {% for viewer in viewers %}
                                <li class="list-group-item">
                                    {{ viewer.user.username }} - 
                                    <a href={% url 'accounting:update_accounting_user' business_unit=current.pk accounting_user=viewer.pk %}>Update</a> | 
                                    <a href={% url 'accounting:delete_accounting_user' business_unit=current.pk accounting_user=viewer.pk %}>Delete</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
