{% extends "worklog/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div id="work-pane" class="col-sm-offset-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Work</div>
                <div class="panel-body">
                    <h3 style="text-align: center">{{ total_hours }} hours worked this week</h3>
                </div>
                <table class="table table-bordered">
                    {% for datestring, date, hours, show_link in past_seven_days %}
                        <tr style="{%if 'Saturday' in datestring %}border-bottom: 2px solid gray;{% else %}{% endif %}">
                            {% if "Saturday" in datestring or "Sunday" in datestring %}
                                <th class="col-xs-6 text-center text-muted">{{ datestring }}</th>
                            {% else %}
                                <th class="col-xs-6 text-center">{{ datestring }}</th>
                            {% endif %}
                            <td class="col-xs-6 text-center">
                                {{ hours }}
                                {% if show_link %}&nbsp;<small>(<a href="{% url 'worklog:date' date %}">Log Work</a>)</small>{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
