{% extends "base.html" %}

{% load staticfiles %}

{% block styles %}

<style>
p {
    font-size: 25px;
}
.fa.card {
    font-size: 15em;
}
.card-success {
    color: #5cb85c;
}
.card-danger {
    color: #d9534f;
}
.card-warning {
    color: #f0ad4e;
}
.fa-beer {
    margin-right: 30px;
}
</style>

{% endblock %}

{% block content %}
    <div class="row">
     {% for apps in labsite_apps %}
          <div class="col-md-4">
            <a class="btn btn-default btn-block well" href="{{ apps.url }}">
                <i class="fa {{ apps.icon }} card card-{{ apps.style }}"></i>
                <p>{{ apps.display_name }}</p>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
