<ul class="nav nav-tabs">
    <li {% if active == "dashboard" %}class="active"{% endif %}><a href={% url 'accounting:dashboard' business_unit=current.pk %}>Dashboard</a></li>
    {% if current_month %}

	<li {% if active == "contracts" %}class="active"{% endif %}><a href={% url 'accounting:contracts' business_unit=current.pk %}>Contracts</a></li>
    	<li {% if active == "expenses" %}class="active"{% endif %}><a href={% url 'accounting:expenses' business_unit=current.pk %}>Expenses</a></li>
    	<li {% if active == "revenue" %}class="active"{% endif %}><a href={% url 'accounting:revenue' business_unit=current.pk %}>Revenue</a></li>
	<li {% if active == "personnel" %}class="active"{% endif %}><a href={% url 'accounting:personnel' business_unit=current.pk %}>Personnel</a></li>

    {% endif %}

    <li {% if active == "prospects" %}class="active"{% endif %}><a href="">Prospects</a></li>
    
    {% if not is_viewer %}
        <li {% if active == "settings" %}class="active"{% endif %}><a href={% url 'accounting:settings' business_unit=current.pk %}>Settings</a></li>
    {% endif %}
</ul>
<br>
