{% extends "accounting/base.html" %}

{% load staticfiles %}

{% block content %}

{% include "accounting/nav_tabs.html" with active="personnel" %}

<div id="contentContainer" class="col-xs-0 col-sm-9">
    <div id="workTab" class="tabbable">
        <ul class= "nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#salary" aria-expanded="true">Salary Personnel</a></li>
            <li><a data-toggle="tab" href="#part-time" aria-expanded="true">Part Time Personnel</a></li>
        </ul>
        <div class= "tab-content" >
            <div id="salary" class="tab-pane active">
                </br>
                {% if not salary %}
                <h4>No part time personnel for this business unit.</h4>
                {% endif %}
                {% if not is_viewer %}
                    <a class="btn btn-primary" href={% url 'accounting:create_salary' business_unit=current.pk %}>Create Salary Employee</a>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        {% for salary in salary %}
                        </br>
                        <div class="model-display" role="tab" id="headingOne">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{salary.pk}}" aria-expanded="true" aria-controls="collapse{{salary.pk}}">
                                    <p class="lead'"><h4>{{ salary.first_name }} {{ salary.last_name }} - {{ salary.position }}</h4></p><hr>
                                </a>
                            </div>
                        </div>

                        <div id="collapse{{salary.pk}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{salary.pk}}">
                            <div class="row">
                                <div class="col-md-4">  
                                    <h5>Position: {{ salary.position }}</h5>
                                    <h5>ID: {{ salary.employee_id }}</h5>                          
                                    <h5>Salary Type: {{ salary.salary_type }}</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5>Social Security: {{ salary.social_security_amount }}</h5>
                                    <h5>Fed Insurance: {{ salary.fed_health_insurance_amount }}</h5>
                                    <h5>Retirement: {{ salary.retirement_amount }}</h5>
                                    <h5>Medical Insurance: {{ salary.medical_insurance_amount }}</h5>
                                    <h5>Staff Benefits: {{ salary.staff_benefits_amount }}</h5>
                                    <h5>Fringe: {{ salary.fringe_amount }}</h5>
                                </div>
                                <div class="col-md-4">
                                    {% if not is_viewer %}
                                    <h4>
                                        <a class="btn btn-primary" href={% url 'accounting:update_salary' business_unit=current.pk salary=salary.pk %}>Update</a>
                                        <a class="btn btn-primary btn-delete" href={% url 'accounting:delete_salary' business_unit=current.pk salary=salary.pk %}>Delete</a>
                                    </h4>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div id="part-time" class="tab-pane ">
                </br>
                {% if not part_time %}
                <h4>No part time personnel for this business unit.</h4>
                {% endif %}
                {% if not is_viewer %}
                    <a class="btn btn-primary" href={% url 'accounting:create_part_time' business_unit=current.pk  %}>Create Part Time Employee</a>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        {% for part_time in part_time %}
                        </br>
                        <div class="model-display" role="tab" id="headingOne">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{part_time.pk}}" aria-expanded="true" aria-controls="collapse{{part_time.pk}}">
                                    <p class="lead'"><h4>{{ part_time.first_name }} {{ part_time.last_name }} - {{ part_time.position }}</h4></p><hr>
                                </a>
                            </div>
                        </div>
                        <div id="collapse{{part_time.pk}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{part_time.pk}}">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Position: {{ part_time.position }}</5> 
                                    <h5>ID: {{ part_time.employee_id }}</h5> 
                                    <h5>Type: {{ part_time.hourly_type }}</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5>Wage: ${{ part_time.hourly_amount }}</h5>
                                    <h5>Hours: {{ part_time.hours_work }}</h5> 
                                </div>
                                <div class="col-md-4">
                                    {% if not is_viewer %}
                                    <h4>
                                        <a class="btn btn-primary" href={% url 'accounting:update_part_time' part_time=part_time.pk business_unit=current.pk %}>Update</a>
                                        <a class="btn btn-primary btn-delete" href={% url 'accounting:delete_part_time' part_time=part_time.pk  business_unit=current.pk %}>Delete</a>
                                    </h4>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
